<%= render "shared/header" %>

<div class="ui grid">
  <div class="eight wide column">
    <%= render "shared/show" %>
      <div class="show-button">
        <div><%= link_to "トップページに戻る", root_path, class: "ui pink button" %></div>
      </div>
  </div>
  <div class="eight wide column">
    <%= render "shared/message" %>
  </div>
</div>
