// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.food-titles{
  display: flex;
  justify-content: space-around;
}

.search-input{
  height: 40px;
  border: 4px solid lightpink;
  font-size: 18px;
}
