.macaron-show{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border: 1px solid lightpink;
  width: 50vw;
}

.show-title{
  font-size: 34px;
  margin: 30px;
  color: pink;
}

.show-box{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shows-flex{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.messages{
  display: flex;
  flex-direction: column;
  border: 1px solid pink;
  margin: 10px;
  width: 30%;
}

.message-list{
  font-size: 15px;
}

.message-com{
  font-size: 10px;
  color: lightpink;
}

.show-button{
  display: flex;
  justify-content: right;
}